<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>EH01:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH02:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHC:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XDCI:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					WERDSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDEF:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDAS:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					SERBUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>AZAL:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					QVpBTA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GLAN:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					R0xBTg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGBE:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					SUdCRQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CNVW:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					WFBSVw==
					</data>
					<key>TgtBridge</key>
					<data>
					Q05WVw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Scope:EH01:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NCX1BDSTBFSEMxFC1fUFJXAA==
					</data>
					<key>Replace</key>
					<data>
					X1NCX1BDSTBFSEMxFC1YUFJXAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Scope:EH02:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NCX1BDSTBFSEMyFC1fUFJXAA==
					</data>
					<key>Replace</key>
					<data>
					X1NCX1BDSTBFSEMyFC1YUFJXAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Scope:XHC:_PRW to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NCX1BDSTBYSENfFC1fUFJXAA==
					</data>
					<key>Replace</key>
					<data>
					X1NCX1BDSTBYSENfFC1YUFJXAA==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
