<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_UPC to XUPC(all)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1VQQw==
					</data>
					<key>Replace</key>
					<data>
					WFVQQw==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
