<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>battery BAT0:GBIF03 to XBIF03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery BAT0:GBST04 to XBST04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery BAT0:GBIX03 to XBIX03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJWAM=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery BAT0:SBMN to BMNX128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JNTkA=
					</data>
					<key>Replace</key>
					<data>
					Qk1OWEA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery BAT0:SBDN to BDNX128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JETkA=
					</data>
					<key>Replace</key>
					<data>
					QkROWEA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery BAT1:_STA to XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					QkFUMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>batC#1</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hkJBVDA=
					</data>
					<key>Replace</key>
					<data>
					hkJBVEM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>batC#2</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hkJBVDE=
					</data>
					<key>Replace</key>
					<data>
					hkJBVEM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>batC#3</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDQkVDMF9CQVQx
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDQkVDMF9CQVRD
					</data>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
